.signupPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signupContainer {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.signupContainer h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #222;
}

.signupContainer p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}



.formGroup {
  margin-bottom: 18px;
}

.formGroup label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.2s ease;
  outline: none;
}

.formGroup input:focus {
  border-color: #7A3F98;
  box-shadow: 0 0 0 3px rgba(122, 63, 152, 0.15);
}




.signupBtn {
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  border: none;
  background: #7A3F98;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signupBtn:hover {
  background: #6a3485;
}


.divider {
  text-align: center;
  margin: 25px 0;
  position: relative;
  font-size: 13px;
  color: #999;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}




.loginText {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #555;
}

.loginText a {
  color: #7A3F98;
  text-decoration: none;
  font-weight: 600;
}

.loginText a:hover {
  text-decoration: underline;
}
